@font-face {
    font-family: 'NCAA_Bold';
    src: url(../font/NCAA_FSU_Noles_Glades_Bold.otf) format("opentype");
}

body {
    margin: 0;
}


.mastHead {
    padding: 0;
    display: flex;
    justify-content: center;
}

.mastHead a {
    text-decoration: none;
    color: rgb(26, 46, 112);
}

.mainNav {
    display: flex;
    gap: 3em;
    position: center, fixed;
}

.mainNav li {
    list-style: none;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.imgPetShop {
    color: rgb(26, 46, 112)
}

.imgInicial {
    position: center center;
    height: 700px;
}


/* .lindo {
    float: right;
    position: absolute;
}

.lindo img {
    overflow: auto;
    display: block;
    float: left;
    margin-right: 10px;
} */

/* .cl {
    color: rgb(25, 58, 106);
} */

.imgC {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pgnicialpetshop {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.rodape img{
    filter: invert(100%);
}


.cll {
    background-color: rgba(217, 217, 217);
    width: 1500px;
    height: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cll h1 {
    margin-left: 100px;
    color: rgb(26, 46, 112);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 18px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.cll li {
    margin-left: 80px;
}
.pe{
    margin-left: 300px;
    font-size: 50px;
    text-decoration: none;
}
.imgc {
    display: block;
    margin: 0px;
    text-align: center;
}

.granja {
    font-size: 40px;
}

.mastHead img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
}

#vendas {
    margin-left: 4em;
    background: url(../img/design.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


.desconto h3 {
    font-family: 'NCAA_Bold';
    /* font-size: 20px; */
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 3em;
}

.card {
    display: flex;
    flex-direction: column;

}

.card p {
    margin: 0;
    margin-left: 2em;
}

.desconto {
    display: flex;
    justify-content: space-between;
    width: 65%;
}


.botaoCompra {
    width: 130px;
    height: 30px;
    border: 2px solid #124C5f;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    padding-top: 10px;
}

.botaoCompra a {
    text-decoration: none;
    color: #124C5f;
}

.botaoMais {
    width: 130px;
    height: 30px;
    background-color: #124C5f;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    padding-top: 10px;
}

.botaoMais a {
    text-decoration: none;
    color: white;
}
.mia {

    position: center;
    width: 1275px;
    height: 82.26px;
    left: 256px;
    top: 161px;

    background: black;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;


    position: center;
    width: 69.13px;
    height: 69.13px;
    left: 263.88px;
    top: 167.12px;

    background: white;
    position: center;
    left: 9.22%;
    right: 9.36%;
    top: 9.22%;
    bottom: 9.37%;

    position: center;
    width: 252.65px;
    height: 42.56px;
    left: 332.97px;
    top: 180.92px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: rgba(0, 0, 0, 0.21);
}

.flex-container{
    display: flex;
    gap: 7em;
    list-style: none;
}

.flex-item{
    background-color:rgb(26, 46, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 180%;
    width: 250px;
    height: 250px;
    color: aliceblue;
}

/* .................Renan.................. */
.mapa{
    z-index: -1;
  }
  
  .form-master a{
    display: flex;
    justify-content: center;
  }
  
  .form-master {
    width: 450px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0.2);
    padding: 2em;
    margin: auto;
    margin-top: -400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .form-master h2 {
    color: rgb(2, 2, 2);
    text-align: center;
    margin-bottom: 5px;
  }
  
  .form-master p {
    text-align: center;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
  
  .form-master input,
  .form-master textarea {
    border-radius: 10px;
    padding: 6px 16px;
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid black;
  }
  
  
  .form-btn {
    display: flex;
    justify-content: center;
  }
  
  .form-btn input {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 2em;
    height: 5em;
    width: 8em;
  }

  body{
    margin: 0;
  }
  
  .rodape {
    width: 100%;
    height: 200px;
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: rgb(59, 59, 202);
    margin-top: 75px;
  }
  
  .rodape {
    color: rgb(255, 255, 255);
  }
  
  .instagram {
    width: 25px;
    height: 25px;
    padding: 0;
    margin-left: 20px;
  }
  
  .facebook {
    width: 25px;
    ;
    height: 25px;
    padding: 0;
    margin-left: 45px;
  }
  
  .whatsapp {
    width: 25px;
    ;
    height: 25px;
    padding: 0;
    margin-left: 45px;
  }
  
  .twitter {
    width: 25px;
    ;
    height: 25px;
    padding: 0;
    marg
  }
  /* .................Renan.................. */